* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section, main, footer {
    padding: 20px 1000px 20px 200px;
}

section {
    background:linear-gradient(to right,#192e4d, #0d376f, #124a96, #1559b4, #155cba);
    color: white;
}

main {
    margin-top: 30px;
    margin-bottom: 50px;
}

footer { 
    color: rgb(8, 8, 8);
}

.introduction {
    display: inline-block;
    border:  1px solid rgb(102,118,141) ;
    border-radius: 900px;
    padding: 8px 20px;
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

header h1 ~ p {
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.bigger-scale, .black-hover {
    display: inline-block;
    border: 1px solid rgb(26,115,232);
    border-radius: 999px;
    background-color: rgb(26,115,232);
    padding: 15px;
    margin:6px 5px 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.bigger-scale:hover {
    transform: translateY(-2px);
    background-color: #0871e2;
}

.black-hover:hover {
    transform: translateY(-2px);
    background-color: #063d91;
}

.stat1, .stat2, .stat3 {
    display: flex;
    flex-direction: column;
    padding: 20px 25px; 
    border-radius: 25px; 
    background-color: rgba(34, 61, 101, 0.6); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    width: 220px; 
}

.stat1 p, .stat2 p, .stat3 p {
    margin: 0; 
    font-size: 30px;  
    font-weight: bold;
}

.stat1 span, .stat2 span, .stat3 span {
    font-size: 15px;
    opacity: 0.8;     
    margin-top: 5px;    /* Khoảng cách giữa số và chữ */
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 50px;;
}

h3 {
    margin-bottom: 20px;
}

.service-card {
    position:relative;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05); 
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-8px);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.badge {
    position: absolute;
    top: 8px;
    right: 12px;;
    background-color: rgb(223,235,252);
    border: 1px solid rgb(172,204,247);
    color: rgb(7, 104, 231);
    border-radius: 999px;
    padding: 5px 10px;
}