* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
}
header{
    text-align: center;
    color: #1e90ff;
    text-align: center;
}

main{
    text-align: center;
}
input {
    border-color: #1e90ff;
}

textarea {
    border-color: #1e90ff;
}

button {
    background-color: #00bfff;
    color: white;
}

.Username, .Email, .Feedback {
    line-height:2;
}